</div>
<table class="table table-striped table-dark text-center mt-3">
    <thead>
        <tr>
            <th>JUGADOR</th>
            <th>PC</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{marcador_jugador}}</td>
            <td>{{marcador_maquina}}</td>
        </tr>  
    </tbody>
</table>
<input class="btn btn-primary "(click)= "ponerMarcadorAcero()" type="reset">    
</div> 
<!--app-marcador es hijo de app-juego-ppt . Tengo que comunicarlos. Comunicacion entre componentes, comunicacion entre paginas-->
<app-marcador></app-marcador>