<h1 class="text-center">Lista de alumnos</h1>
<button class="btn btn-primary btn-sm" routerLink="/alumno/form">CREAR ALUMNO</button>
<div class='listaAlumnos'>
    <div class="card" *ngFor="let alumno of lista_alumnos">
        <!--<img class="card-img-top" src="..." alt="Card image cap">-->
        <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{alumno.id%100}}.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{alumno.id}}. {{alumno.nombre}} {{alumno.apellido}}</h5>
        </div>
        <button (click)="deleteUsuario(alumno)" type="button" class="btn btn-danger">Borrar
          <!-- <fa-icon [icon]="basurita"></fa-icon> -->
          <fa-icon [icon]="basurita2"></fa-icon>
        </button>
        <button (click)="updateUsuario(alumno)" type="button" class="btn btn-success">Editar
          <!-- <fa-icon [icon]="basurita"></fa-icon> -->
          <fa-icon [icon]="icedicion"></fa-icon>
        </button>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: {{alumno.email}}</li>
          <li class="list-group-item">Edad: {{alumno.edad}}</li>
        </ul>
        <div class="card-footer text-muted">
          <p>{{alumno.creadoEn|date:'short'}}</p>
        </div>
      </div>
      
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="automatico" (click)="checkTocado()">
  <label class="form-check-label" for="flexCheckChecked">
    Actualizar Automáticamente
  </label>
</div>

